################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhoenixEmulator/v16
/PhoenixEmulator/x64/Debug
/x64/Debug
/PhoenixEmulator/Debug
/Debug
/SDL2/docs
/PhoenixEmulator/Release
